@media (width >= 480px) { 
body {
	border-top-style: double;
	border-left-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-color: #3730c4;
	border-width: 25px;	
	}
	
nav {
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #3730c4;
}
nav .heading {
    font-size: 35px;
    font-weight: 700;
    color: white;
	margin: 10px;
}
nav ul {
    display: flex;
	flex-flow: row wrap;
    list-style: none;
	margin: 10px;
}
nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}
nav ul li a {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    background-color: #0066B1;
}
nav ul li a:hover {
    color: white;
}
nav img:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

.grid-container { 
    margin: auto 0;
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #3730c4;
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.grid-container h1 {
	font-size:50px;
}
.grid-container h2 {
	font-size: 40px;
}
.item1 {
	grid-area: about;
}
.item1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;
}
.item1 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
}
.item2 {
	grid-area: skills;
}
.item2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;

}
.item2 a:hover {
    background-color: #0066B1;
	color: white;

}
.item3 {
	grid-area: projects;
}
.item3 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;

}
.item3 a:hover {
    background-color: #0066B1;
	color: white;

}

.foot {
	grid-area: foot;
	text-align: center;
	padding: 10px;
}
.foot p {
	font-size: 25px;
}
.github {
	font-size: 30px;
	color: #3730c4;
	text-decoration: none;
	width: 175px;
    height: 50px;
    border-radius: 12px;
    border-color: transparent;
	color: #007ffb;
}
.github:hover {
	animation: bounce 0.6s;
	animation-iteration-count: infinite;
	text-decoration: underline;
}
@keyframes bounce {
	0% { transform: scale(100%); }
	10% { transform: scale(110%); }
	20% { transform: scale(120%); }
	30% { transform: scale(130%); }
	40% { transform: scale(140%); }
	50% { transform: scale(150%); }
	60% { transform: scale(150%); }
	70% { transform: scale(140%); }
	80% { transform: scale(130%); }
	90% { transform: scale(120%); }
	100% { transform: scale(110%); }
}

.dud {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dud img {
    border: 5px solid black;
	transition: 0.4s ease;
}
.dud img:hover {
	transform: scale(150%)
}

}

@media (width >= 1200px) { 

nav {
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #3730c4;
}
nav .heading {
    font-size: 50px;
    font-weight: 700;
    color: white;
	margin: 10px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}
nav ul li a {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    background-color: #0066B1;
}
nav ul li a:hover {
    color: white;
}
nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

.grid-container { 
	display: grid;
	grid-template-areas:
		'about about'
		'skills projects '
		'foot foot'
		;
	gap: 10px;
	background-color: #3730c4;
	padding: 10px;
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

}