{ box-sizing: border-box; }
.card {
	width: flex;
	max-width: 600px;
	height: flex;
	border: 5px solid #CC0000;
	background-color: #eedfdf;
	padding: 20px;
	margin: 0px auto;
	text-align: center;
}
.card h1 {
	font-size: 50px;
}
.card p {
	font-size: 25px;
}