* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: "Arial", serif;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
    border: 1px dashed rgba(0, 0, 0, 0.25);
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}
h2 {
	font-style: italic;
}

main>p {
    margin-bottom: 32px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
	
}

.collection-grid {
    margin: auto 0;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.collection-card {
    border: 1px dashed rgba(0, 0, 0, 0.75);
    background-color: #fafafa;
    padding: 16px;
	display: grid;
	justify-content: center;
	width: 500px;
	margin: 10px;
}

.collection-card img {
    max-width: 200px;
	width: auto;
    max-height: 400px;
	height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
	margin-right: auto;
	margin-left: auto;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection-card img:hover {
	transform: scale(150%) ;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
}
@media (width >= 480px) { 
.collection-grid {
    margin: auto 0;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.collection-card {
    border: 1px dashed rgba(0, 0, 0, 0.75);
    background-color: #fafafa;
    padding: 16px;
	display: grid;
	justify-content: center;
	flex-basis: 45%;
	margin: 10px;
}

.collection-card img {
    max-width: 200px;
	width: auto;
    max-height: 400px;
	height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
	margin-right: auto;
	margin-left: auto;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection-card img:hover {
	transform: scale(150%) ;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
}
}
@media (width >= 1024px) {
.collection-grid {
    margin: auto 0;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.collection-card {
    border: 1px dashed rgba(0, 0, 0, 0.75);
    background-color: #fafafa;
    padding: 16px;
	display: grid;
	justify-content: center;
	flex-basis: 30%;
	margin: 10px;
}

.collection-card img {
    max-width: 200px;
	width: auto;
    max-height: 400px;
	height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
	margin-right: auto;
	margin-left: auto;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.collection-card img:hover {
	transform: scale(150%) ;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
}
}