body {
	border-top-style: double;
	border-left-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-color: #3730c4;
	border-width: 25px;
	}
	
header {
    width: 90%;
    height: 170px;
	text-align: center;
    padding: 20px 5%;
    background-color: #3730c4;
}
header .title {
    font-size: 50px;
    font-weight: 700;
    color: white;
	margin: 10px;
}
.body h2 {
	font-size: 40px;
}
.body { 
	display: grid;
	grid-template-areas:
		'topic'
		;
	gap: 10px;
	background-color: #3730c4;
	padding: 10px;
}
.body > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.item1 {
	grid-area: topic;
}