@media (width >= 480px) {
.disc-container { 
    margin: auto 0;
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-color: #3730c4;
}
.disc-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.disc-container h1 {
	font-size:50px;
}
.disc-container h2 {
	font-size: 40px;
}
.intro {
	grid-area: intro;
}
.item1 {
	grid-area: disc1;
}
.item1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item1 a:hover {
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item2 {
	grid-area: disc2;
}
.item2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item2 a:hover {
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item3 {
	grid-area: disc3;
}
.item3 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item3 a:hover {
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.foot {
	grid-area: foot;
}
.return {
	font-size: 25px;
	font-weight: 500;
	color: #3730c4;
	text-decoration: none;
	padding: 10px;
    border-radius: 10px;
	transition: 0.4s ease;
}
.return:hover {
	background-color: #0066B1;
	color: white;
}
html {
	scroll-behavior: smooth;
}

}
@media (width >= 1200px) {

}